<template>
    <div class="case">
        <div class="case-container">
            <h1>/ canpro /</h1>
            <p class="case-intro">In Aug, 2018, when the Taipei Mayor & Legislator Election is about to start, we notice that there is a annoying problems needs to be solve. <br><b>The Political Paper</b>. </p>
            
            <h2>As-Is Scenario Map: What is the voter's journey ?</h2>
            <p>Hence, we collect data from mutiples interviewers, making a As-is Scenario Map to explain the whole journey while the voter get to the election.</p>
            <img src="../../assets/case1-3.png" alt="As-is Scenario Map">
            
            <h2>The Paint Points</h2>
            <img src="../../assets/case1-2.png" alt="user pain points" class="align-paragraph">

            <h2>Define the Information Architecture</h2>
            <p class="case-txt">After analyzing all the pain points and the voter's journey, we conclude the idea and have an Information Architecture of this new platform for the voter.</p>
            <img src="../../assets/case1-4.png" alt="Information Architecture of platform" class="align-paragraph">
            
            <h2>Begin to Sketch</h2>
            <img src="../../assets/case1-5.jpg" alt="" class="align-paragraph">
            <div class="gap"></div>
            <h2>Introducing the new search platform: canpro </h2>
            <img src="../../assets/case1-8.jpg" alt="" class="align-paragraph">
            <p>We design a new platform, that the voter can easily search for the candidate's political view, without browsing all the list in the Political Paper.</p>
            <img src="../../assets/case1-6.jpg" alt="">
            <p>Also, the voter can easily understand the specific candidate's focused issues through the radar chart.</p>
            <img src="../../assets/case1-7.jpg" alt="">
            <div class="gap"></div>
        </div>
        <img src="../../assets/case1.png" alt="politics case mobile show." class="full-width">
    </div>
</template>